<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Form</title>
      <link rel="stylesheet" type="text/css" href="static/main.css">
   </head>
   <body>
   <div id="envelope" class="envelope">
   <form class="decor" action="#" method="post">
      <a class="close-btn" href="javascript:void(0)" onclick = "document.getElementById('envelope').style.display='none';document.getElementById('fade').style.display='none'">Закрыть</a>
      <div class="form-left-decoration"></div>
         <div class="form-right-decoration"></div>
            <div class="circle"></div>
               <div class="form-inner">
                  <h3>Оставить заявку</h3>
                  {% for field in form if field.name != 'csrf_token' %}
                       <div>
                         {{ field.label() }}
                         {{ field() }}
                           {% for error in field.errors %}
                              <div class="error">{{ error }}</div>
                           {% endfor %}
                        </div>
                  {% endfor %}
                  <input type="submit" value="Отправить">
               </div>
   </form>
   </div>
      <div class="button-contact">
         <a class="sliding-button" href = "javascript:void(0)" onclick = "document.getElementById('envelope').style.display='block';document.getElementById('fade').style.display='block'">Оставить заявку</a>
      </div>
      <div id="fade" class="black-overlay"></div>
   </body>
</html>